<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="Thymeleaf" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>员工管理系统</title>
<link rel="stylesheet" href="/css/index/index.css">
<link rel="stylesheet" href="/layui/css/layui.css">
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/comm/core.js"></script>
<script type="text/javascript" src="/js/index/index.js"></script>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">员工管理系统</div>
			<ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item">
					<a href="javascript:;">
						<img src="http://t.cn/RCzsdCq" class="layui-nav-img">
						<shiro:principal property="loginName"/>
					</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="">基本资料</a>
						</dd>
						<dd>
							<a href="">安全设置</a>
						</dd>
					</dl>
				</li>
				<li class="layui-nav-item"><a href="javascript:;" onclick="loginout();">退了</a></li>
			</ul>
		</div>

		<div class="layui-side layui-bg-black">
			<div class="layui-side-scroll">
				<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
				<ul class="layui-nav layui-nav-tree" lay-filter="navigation">
					<li class="layui-nav-item layui-nav-itemed">
						<a class="" href="javascript:;" url="111" id="index" title="首页">首页</a>
					</li>
					<shiro:hasAnyRoles name="emp,all">
					<li class="layui-nav-item">
						<a class="" href="javascript:;">员工管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" url="/emp/index" id="emp" title="员工总览">员工总览</a>
							</dd>
						</dl>
					</li>
					</shiro:hasAnyRoles>
					<shiro:hasAnyRoles name="部门管理,all">
					<li class="layui-nav-item">
						<a href="javascript:;">部门管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" url="/dept/index" id="dept" title="部门总览">部门总览</a>
							</dd>
						</dl>
					</li>
					</shiro:hasAnyRoles>
					<shiro:hasAnyRoles name="职位管理,all">
					<li class="layui-nav-item">
						<a href="javascript:;">职位管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" url="/job/index" id="job" title="职位总览">职位总览</a>
							</dd>
						</dl>
					</li>
					</shiro:hasAnyRoles>
					<shiro:hasAnyRoles name="权限管理,all">
					<li class="layui-nav-item">
						<a href="javascript:;">权限管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" url="/authority/index" id="authority" title="权限控制">权限控制</a>
							</dd>
						</dl>
					</li>
					</shiro:hasAnyRoles>
				</ul>
			</div>
		</div>

		<div class="layui-body">
			<div class="layui-body-title">
				<span class="layui-breadcrumb">
				</span>
			</div>
			<div class="layui-body-title-fix"></div>
			
			<div class="layui-body-content">
				
			</div>
		</div>
	</div>
</body>
</html>