<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.craily.cust_dao.CustEmpMapper">

	<select id="queryEmp" resultType="java.util.Map">
		select
			e.emp_no,
			e.`name` as emp_name,
			e.sex,
			e.mobile_phone,
			DATE_FORMAT(e.join_time,'%Y-%m-%d') as join_time,
			d.dept_no,
			d.`name` as dept_name,
			j.job_no,
			j.`name` as job_name
		from
			emp e
		left join
			dept d
		on
			e.dept_no = d.dept_no
		left join
			job j
		on e.job_no = j.job_no
		where
			e.job_no != '1'
		<if test="emp.empNo != null and emp.empNo != ''">
		and e.emp_no = #{emp.empNo}
		</if>
		<if test="emp.deptNo != null and emp.deptNo != ''">
		and e.dept_no = #{emp.deptNo}
		</if>	
		<if test="emp.name != null and emp.name != ''">
		and e.`name` like concat('%', #{emp.name}, '%')
		</if>
		order by j.`level`, e.emp_no
	</select>
	
	<select id="queryEmpJobMenuByJobNo" resultType="java.util.Map">
		select
			m.`name`
		from
			job_menu jm
		left join
			menu m
		on 
			jm.menu_no = m.menu_no
		where
			jm.job_no = #{jobNo}
	</select>
	
	<select id="queryEmpOperationsByJobNo" resultType="java.util.Map">
		select
			o.`name`
		from
			operations o
		left join
			job_menu jm
		on
			o.menu_no = jm.menu_no
		where
			jm.job_no = #{jobNo}
	</select>
</mapper>